h1 {
	  color: blue;
	  text-align: center;
	 border: 2px solid blue;
	}



h2 {
	color: red;
	text-align: center;
}

body{
	background-color: #B0B0B0;
}

img {
	width:  100%;
	

}

p{
	font-style: 22px;

}